.dm-guide-login-button:hover {
  background-color: green;
}

.dm-guide-login-button img {
  width: 50px;
  height: 100%;
  padding: 8px 0;
  margin-right: 10px;
}

.dm-guide-register-button img {
  width: 30px;
  height: 100%;
  padding: 10px 0;
  margin-right: 10px;
}

.dm-guide-register-button h6,
.dm-guide-login-button h6 {
  font-size: 12px;
}

.dm-guide-login-button:hover,
.dm-guide-register-button:hover {
  background-color: rgb(43, 43, 43);
  border: 3px solid rgb(43, 43, 43);
}

#button-login, #button-register {
  justify-content: center;
}

#button-login img, #button-register img {
  padding: 0;
  width: 20px;
  height: auto;
  filter: invert(100%);
}

#button-login h6, #button-register h6 {
  font-size: 12px;
}

.dm-guide-login-card-container {
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid blue;
}

.click-card-loader {
  width: 100%;
  left: 100%;
  overflow: hidden;
  animation: slide 4s normal;
  background-color: black;
  height: 60px;
  padding: 15px 0;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  border: 1px solid salmon;
}


@media (min-width: 768px) {
  #button-login:hover {
    background-color: rgb(0, 67, 0);
    border: none;
    border-radius: 5px;
  }

  #button-register:hover {
    background-color: rgb(66, 66, 66);
    border: none;
    border-radius: 5px;
  }
}
